body {
    font-family: Consolas, sans-serif;
    background: black;
    margin: 0;
    color: white;
    display: flex;
    justify-content: center;
}

a {
    color: greenyellow;
}

canvas {
    background: #0f0f0f;
}